body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: black;
    font-size: 60px;
}

div {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    color: white;
    text-align: center;
}

.title {
    height: 15%;
    font-size:100px;
    background: none;
}

.main{
    top:15%;
    height: 85%;
    background: none;
}

.main div{
    position:static;
    float:left;
    width:20%;
}

.main div div{
    width:100%;
    border-bottom:1px solid white;
    height:11%;
}

.main .numbers .next{
    font-size:50px;
    color:white;
    width:60%;
    border:none;
    background:red;
    border-radius:60px;
}

.main .checks div input{
    width:100%;
    border:none;
    text-align:center;
    font-size:50px;
    color:white;
    background:none;
}

.main .checks .check img{
    height:100%;
    object-fit:contain;
}

.checks{
    display:block;
}
